body{
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
    height: 100vh;
}
button{
    position: absolute;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
}